h1, h2,ul {
	clear: both;
}
ul.pagination1 li:hover,
ul.pagination2 li:hover,
ul.pagination3 li:hover {
    background-color: #E8E6DF;
}
ul.pagination1 li,
ul.pagination2 li,
ul.pagination3 li {
    padding: 10px;
    font-family: georgia;
    background-color: #009793;
    font-size: 24px;
    color: #fff;
    line-height: 1;
    width: 500px;
    margin-bottom: 1px;
    list-style:none;
}
ul.pagination1 li,
ul.pagination2 li,
ul.pagination3 li img{
    width:250px;
}

.notice1{
    float:right;
    width: 100px;
    margin-right:135px;
}
.notice2{
    float:right;
    width: 100px;
    margin-right:135px;
}
.notice3{
    float:right;
    width: 100px;
    margin-right:135px;
}
.notice4{
    float:right;
    width: 100px;
    margin-right:135px;
}
.notice5{
    float:right;
    width: 100px;
    margin-right:135px;
}
.notice6{
    float:right;
    width: 100px;
    margin-right:135px;
}

ul.red {
	outline:5px solid red;
}

ul.simplePagerNav li{
    display:block;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    font-family: georgia;
	font-size:14px;
}

ul.simplePagerNav li a{
    color: black;
    text-decoration: none;
}

li.currentPage {
	background: red;
    background: #009793;	
}

ul.simplePagerNav li.currentPage a {
	color: #fff;	
}

table.pageme {
    border-collapse: collapse;
    border: 1px solid #ccc;
}  

table.pageme td {
    border-collapse: collapse;
    border: 1px solid #ccc;
}
